div{font-size: 16px;}
#p1{font-size: 1.6em;}
#p2{font-size: 1.2rem;}
#p3{font-size: 0.8rem;}
#div1{width: 20rem;height: 10rem; border: solid;}
#div2{width: 15rem;height: 10rem; border: solid;}
#div3{width: 10rem;height: 10rem;border: solid;}
#li1{padding: 0.5em;}
#li2{padding: 1em;}
#li3{padding: 1.5em;}