#div1{width: 100px; height: 100px;background-color: deepskyblue;margin-bottom: 10px;}
#div2{width: 100px; height: 100px;background-color:#C0392B;}
#div3{width: 100px; height: 100px;background-color:#F7DC6F;}
#div4{width: 100px; height: 100px;background-color:#4A235A;margin-bottom: 10px;}
#div5{width: 100px; height: 100px;background-color:rgb(52, 152, 219)}
#div6{width: 100px; height: 100px;background-color:hsl(6, 78%, 57%)}
#div7{width: 100px; height: 100px;background-color:hsl(6, 50%, 70%)}

